<div class="row">
   <div class="col s12">
     <div class="container">

       <div class"row" style="margin-top: 50px">
         <div class="col s12 m12 l8">
           <h4>My Account</h4>
         </div>
         <div class="col s12 m12 l8">

           <ul class="collection">
              <li class="collection-item avatar">
                <i class="material-icons circle red">description</i>
                <span class="title"><b>Name</b></span>
                <p>{{user.first_name}} {{user.last_name}}</p>
              </li>
<!--               <li class="collection-item avatar">
                <i class="material-icons circle blue">folder</i>
                <span class="title"><b>Address</b></span>
                <p>Feldmochinger Straße 210 <br>
                   München
                </p>
              </li> -->
              <li class="collection-item avatar">
                <i class="material-icons circle orange">settings</i>
                <span class="title"><b>Settings</b></span>
                <p>Security <br>
                   Account
                </p>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">play_arrow</i>
                <span class="title"><b>Connectivity</b></span>
                <p>Social Media <br>
                   Smartphone
                </p>
              </li>
            </ul>

         </div>
         <div class="col s12 m12 l4">
           <img class="responsive-img" src={{user.pictureUrl}}>

         </div>
       </div>

       <div class="row">
         <div class="col s12">
           <div class="col s12 m12 l8">

            <div class="btn">
             <span>Back</span>
           </div>
         </div>
         </div>
      </div>

   </div>
 </div>
</div>
