<div style="overflow:hidden">
    <div class="row" style="margin-bottom:0px;">
        <div class="col s1">
            <img src="/img/profil_pics/frohlich.jpg" style="height:50px" alt="" class="circle">
        </div>
        <div class="col s11" style="margin-bottom:0px;">
            <h5> Michael Fröhlich</h5>
        </div>
    </div>
    <div class="divider"></div>
    <div id="message_history" style="overflow:hidden; overflow-y:scroll; overflow-x:hidden; height:375px; width:100%">
        <!--Messages-->
        <div class="row">
            <div class="col s10 m6 l6" style="margin-bottom:0px;">
                <div class="card coll s10 m9 l8">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/living_room.JPG">
                    </div>
                    <div class="card-content">
                        <span class="activator grey-text text-darken-4">Living room<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6" style="float:right;">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <p>Hey Johannes, I would love to visit your flat.<br>
                            Thanks for the Pictures!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l12" style="padding:0;">
        <div class="divider"></div>
        <!--Input-Box-->
        <div class="card horizontal" style="margin-top:0px">
            <div class="card-image">
                <img src="/img/profil_pic_Johannes.jpg" alt="" style="height:66px;" class="circle">
            </div>
            <div class="card-stacked">
                <div class="card-content"  style="padding-bottom:0px;">
                    <div class="row"  style="margin-bottom:0px;">
                        <div class="input-field col s12" style="padding:0px; margin-top:0px; margin-bottom:0px;">
                            <textarea id="message_input" class="materialize-textarea" style="padding:0px; margin-top:0;margin-bottom:0px;"></textarea>
                            <label for="message_input">Write a message...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>